 p{
    font-family: roboto;
  }
  .video-title
  {
    
    font-size:18px;
    font-weight:bold;
    color:black;
    font-style:italic; 
    width: 300px;
    line-height:24px;
    margin-bottom:5px;
  }

.video-status{
    
    font-size:14px;
    color:rgb(53, 49, 49);
    margin-top:0;
    margin-bottom:20px;
}

.video-author{
    
    font-size:14px;
    color:rgb(53, 49, 49);
    margin-top:0; 
    margin-bottom:20px;
  
}

.video-descp{
    
    font-size:14px;
    color:rgb(53, 49, 49);
    width: 280px;
    line-height:20px;
    margin-top:0;
}

.apple-text{
   margin-bottom: 50px;
   font-size:14px;
   color:white;
   background-color:red;
   text-align: center;
   padding-top:18px;
   padding-bottom:18px;
}
.shop-now{
  color:white;
}
.shop-now:hover{
  text-decoration:underline;
  cursor:pointer;
}
  .span-example{
    color:red;
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
}